<form method="post">
    <!-- Клиент -->
    <h1>Сначало Заполните бланк с иформацией о клиенте</h1>
    <!-- ИНН -->
    <div class="form-group">
        <label for="exampleInputITN">ИНН</label>
        <input required type="number" class="form-control" name="ITN" id="exampleInputITN" pattern="\d{10}">
    </div>
    <!-- Наиминование -->
    <div class="form-group">
        <label for="exampleInputCustomerName">Наименование</label>
        <input required type="text" class="form-control" name="CustomerName" id="exampleInputCustomerName">
    </div>
    <!-- Тип клиента -->
    <p>Юридическое лицо или индивидуальный предприниматель?</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="AType" id="exampleRadios1" value="юридическое лицо" checked>
        <label class="form-check-label" for="exampleRadios1">
            юридическое лицо
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="AType" id="exampleRadios2" value="индивидуальный предприниматель">
        <label class="form-check-label" for="exampleRadios2">
            индивидуальный предприниматель
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Далее</button>

</form>