@model IEnumerable<MyFirstTest.Models.Founders>
   
    <h1>Все учредители</h1>
    <table class="table table-dark">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>ИНН</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var founders in Model)
        {
            <tr>
                <td>@founders.FirstName</td>
                <td>@founders.LastName</td>
                <td>@founders.ITN</td>
                <td><a href="~/Home/RemoveFounders/@founders.FoundersId">Удалить</a></td>
                <td><a href="~/Home/UpdateFounders/@founders.FoundersId">Изменить</a></td>

            </tr>
        }
    </table>