@model IEnumerable<MyFirstTest.Models.Customers>
    <h1>Обновите бланк клиента</h1>
@foreach (var customers in Model)
{
    if (customers.Id == ViewBag.CustomersId) 
    
    {
    <form method="post">
        <!-- Клиент -->
        <!-- ИНН -->
        <input type="hidden" value="@ViewBag.CustomersId" name="Id" />
        <div class="form-group">
            <label for="exampleInputITN">ИНН</label>
            <input required type="number" value="@customers.ITN" class="form-control" name="ITN" id="exampleInputITN" pattern="\d{10}">
        </div>
        <!-- Наиминование -->
        <div class="form-group">
            <label for="exampleInputCustomerName">Наименование</label>
            <input required type="text" value="@customers.CustomerName" class="form-control" name="CustomerName" id="exampleInputCustomerName">
        </div>
        <!-- Тип клиента -->
        <p>Юридическое лицо или индивидуальный предприниматель?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="AType" id="exampleRadios1" value="юридическое лицо" checked>
            <label class="form-check-label" for="exampleRadios1">
                юридическое лицо
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="AType" id="exampleRadios2" value="индивидуальный предприниматель">
            <label class="form-check-label" for="exampleRadios2">
                индивидуальный предприниматель
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>

    </form>
    }
    
}